



/* section{
    background-color: red;
    height: 500px;
} */

/* .banner{
    background-color: red;
    height: 500px;
}

.services{
    background-color: teal;
    height: 500px;
}

.contact{

} */